@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); /*font del "logo"*/
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap'); /*font de los botones*/
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap'); /*font de los botones, párrafos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgba(0, 255, 25, 0.2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.container2 {
    padding: 2vh 4vw;
}

.fondoSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Altura del 100% de la ventana */
}

#fondoSeccionBienvenida {
    margin: 0;
    margin-top: -67px;
    background: linear-gradient(0deg, rgba(188, 253, 236, 0.36), rgba(188, 253, 236, 0.36));
    background-image: url(../Images/dog_bg.png);
    background-size: cover;
    height: calc(100% + 50px);
    width: 100%;    
}

.contenedorSeccion {
    background-color: rgba(24, 129, 97, 0.63);
    margin: 25px 0px 25px;
    padding: 25px 50px 25px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #fff;
    box-shadow: 0px 5px 5px #00000082, 0px -5px 5px #00000082; /*dar sombra arriba y abajo*/
}

@media only screen and (min-width:1200px) {
    #fondoSeccionBienvenida {
        background: linear-gradient(0deg, rgba(188, 253, 236, 0.36), rgba(188, 253, 236, 0.36));
        background-image: url(../Images/dog_bg.png);
        background-size: 100% 100%;
        height: 600px;
    }
}

nav.navbar {
    position: relative;
    z-index: 1;
    height: auto;
    background-color: #50cfbe;
    font-size: 16px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.nav-buttons {
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    color: #fff;
    width: 100%;
}

.page-name {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    font-style: italic;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Lilita One';
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 5px 5px #00000082;
}

.logo-div {
    padding: 25px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.providers, .center {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.providers h2 {
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

    .providers .col-md-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

.product-image {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #efefef;
}

.discount-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #777;
}

.review-stars {
    color: orange;
}

.subscription-option {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: .75rem;
    margin-bottom: 1rem;
}

.no-margin {
    margin: 0;
}

.login-container {
    max-width: 900px;
    padding: 5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .login-container h2 {
        margin-bottom: 1.5rem;
    }

.form-floating label {
    padding: 0.75rem 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.links {
    margin-top: 1rem;
    text-align: center;
}

    .links a {
        display: block;
        margin-bottom: 0.5rem;
        color: #007bff;
    }

        .links a:hover {
            text-decoration: underline;
        }
.register-container {
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .register-container h2 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

.form-floating label {
    padding: 0.75rem 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }