@using Eco_Mascotas.Models;

@model Product

@{
    
    ViewData["Title"] = "Details";

}

@using Eco_Mascotas.Utility
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    Product product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }

}

<br />

<h2 class="text-info">Detalles Del Producto</h2>
<form asp-action="Detail" method="post" enctype="multipart/form-data">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/@Model.Image" alt="Product Image" class="img-fluid mb-3">
            </div>
            <div class="col-md-6">
                <h2 class="text-info">@Model.Name</h2>
                <div class="review-stars mb-3">
                    @for (int i = 0; i < 5; i++)
                    {
                        <span>&#9733;</span>
                    }
                    <span class="ml-2">(10 reviews)</span>
                </div>
                <p class="text-muted">$@Model.Price</p>
                <p>@Model.Description</p>
                <div class="form-group row mt-4">
                    <div class="col-6">
                        @if (product != null)
                        {
                            <button type="submit" class="btn btn-danger w-100" asp-action="Remove" asp-route-id="@Model.Id">Eliminar</button>
                        }
                        else
                        {
                            <input type="submit" class="btn btn-info w-100" value="Agregar al carrito" />
                        }
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success w-100">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}